@model WebBanHang.Models.ProductModel
@using WebBanHang.Models.EF;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopMVC5DbContext db = new ShopMVC5DbContext();
}
<link rel="stylesheet" href="~/assets/css/TinhChinh.css">
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home"><span>Trang Chủ</span></a></li>
            <li><a href="#"><span>Sản Phẩm</span></a></li>
            <li><a><span>@Model.Name</span></a></li>
        </ul><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row single-product'>
            <div class='col-md-9' style="width: 100%">
                <div class="detail-block">
                    <div class="row  wow fadeInUp">

                        <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                            <div class="product-item-holder size-big single-product-gallery small-gallery">
                                <div id="owl-single-product">
                                    @{ var i = 0;}
                                    @foreach (var item in ViewBag.ListImages)
                                    {
                                        i++;
                                        var x = "slide" + @i.ToString();
                                        <div class="single-product-gallery-item" id=@x>
                                            <a data-lightbox="image-1" data-title="Gallery" href="@item">
                                                <img class="img-responsive" data-imagezoom="true" alt="" src="~/assets/images/blank.gif" data-echo="@item" data-zoomviewsize="[300,300]" />
                                            </a>
                                        </div><!-- /.single-product-gallery-item -->
                                    }
                                </div><!-- /.single-product-slider -->

                                <div class="single-product-gallery-thumbs gallery-thumbs">
                                    @{ var t = 0;}
                                    <div id="owl-single-product-thumbnails">
                                        @foreach (var item in ViewBag.ListImages)
                                        {
                                            t++;
                                            var x = "#slide" + @t.ToString();
                                            <div class="item">
                                                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide=@t.ToString() href=@x>
                                                    <img class="img-responsive" width="85" src="~/assets/images/blank.gif" data-echo="@item" />
                                                </a>
                                            </div>
                                        }
                                    </div><!-- /#owl-single-product-thumbnails -->

                                </div><!-- /.gallery-thumbs -->

                            </div><!-- /.single-product-gallery -->
                        </div><!-- /.gallery-holder -->
                        <div class='col-sm-6 col-md-7 product-info-block'>
                            <div class="product-info">
                                <h1 class="name">@Model.Name</h1>

                                <div class="rating-reviews m-t-20">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="rating rateit-small"></div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="reviews">
                                                <a href="#" class="lnk">(13 Reviews)</a>
                                            </div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.rating-reviews -->

                                <div class="stock-container info-container m-t-10">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="stock-box">
                                                <span class="label">Trạng Thái :</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="stock-box">
                                                @if (Model.Quantity.Value >= 5)
                                                {
                                                    <span class="value">Còn Hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="value">Liên Hệ</span>
                                                }
                                            </div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.stock-container -->

                                <div class="description-container m-t-20">
                                    @Html.Raw(@Model.Description)
                                </div><!-- /.description-container -->

                                <div class="price-container info-container m-t-20">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="price-box">
                                                @if (Model.Price.HasValue)
                                                {
                                                    if (Model.Sale.HasValue)
                                                    {
                                                        <span class="price">@((Model.Price - (Model.Price * Model.Sale / 100)).Value.ToString("N0") + "VND")</span>
                                                        <span class="price-strike">@(Model.Price.Value.ToString("N0") + "VND")</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="price"> @(Model.Price.Value.ToString("N0") + "VND") </span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="price">Liên Hệ</span>
                                                }
                                            </div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.price-container -->
                                @if (Model.Price != 0 && Model.Quantity >= 5)
                                {
                                    <div class="quantity-container info-container">
                                        <div class="row">
                                            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Get))
                                            {
                                                <div class="col-sm-2">
                                                    <div class="le-quantity">
                                                        <a class="minus" href="#"></a>
                                                        <input name="quantity" class="sl" readonly="readonly" type="text" value="1" />
                                                        <a class="plus" href="#"></a>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="ProductID" value="@Model.ID" />

                                                <button class="btn btn-primary" id="kaka" title="Thêm vào giỏ hàng" type="submit" onclick="document.getElementById('form-add_to_cart').submit()"><i class="fa fa-shopping-cart inner-right-vs"></i> Thêm Vào Giỏ </button>
                                            }
                                        </div><!-- /.row -->
                                    </div><!-- /.quantity-container -->
                                }
                                else
                                {
                                    <script>
                                        alert('Đang tạm ngừng kinh doanh')
                                    </script>
                                }
                            </div><!-- /.product-info -->
                        </div><!-- /.col-sm-7 -->
                    </div><!-- /.row -->
                </div>

                <div class="product-tabs inner-bottom-xs  wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                                <li class="active"><a data-toggle="tab" href="#tags">Thông số kĩ thuật</a></li>
                                <li><a data-toggle="tab" href="#description">Mô Tả</a></li>
                                <li><a data-toggle="tab" href="#review">REVIEW</a></li>
                            </ul><!-- /.nav-tabs #product-tabs -->
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content">
                                <div id="tags" class="tab-pane in active">
                                    <ul class="table-data">
                                        @foreach (var item in ViewBag.ListDetail)
                                        {
                                            <li>
                                                <label>@item.Properties</label>
                                                <div class="value">@item.Value</div>
                                            </li>
                                        }
                                    </ul>
                                </div><!-- /.tab-pane -->
                                <div id="description" class="tab-pane">
                                    <div class="product-tab">
                                        <p class="text">@Html.Raw(@Model.Detail)</p>
                                    </div>
                                </div><!-- /.tab-pane -->
                                <div id="review" class="tab-pane">
                                    <div class="product-tab">

                                        <div class="product-reviews">
                                            <h4 class="title">Customer Reviews</h4>

                                            <div class="reviews">
                                                <div class="review">
                                                    <div class="review-title"><span class="summary">We love this product</span><span class="date"><i class="fa fa-calendar"></i><span>1 days ago</span></span></div>
                                                    <div class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aliquam suscipit."</div>
                                                </div>

                                            </div><!-- /.reviews -->
                                        </div><!-- /.product-reviews -->



                                        <div class="product-add-review">
                                            <h4 class="title">Write your own review</h4>
                                            <div class="review-table">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="cell-label">&nbsp;</th>
                                                                <th>1 star</th>
                                                                <th>2 stars</th>
                                                                <th>3 stars</th>
                                                                <th>4 stars</th>
                                                                <th>5 stars</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="cell-label">Quality</td>
                                                                <td><input type="radio" name="quality" class="radio" value="1"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="2"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="3"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="4"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="5"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="cell-label">Price</td>
                                                                <td><input type="radio" name="quality" class="radio" value="1"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="2"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="3"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="4"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="5"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="cell-label">Value</td>
                                                                <td><input type="radio" name="quality" class="radio" value="1"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="2"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="3"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="4"></td>
                                                                <td><input type="radio" name="quality" class="radio" value="5"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table><!-- /.table .table-bordered -->
                                                </div><!-- /.table-responsive -->
                                            </div><!-- /.review-table -->

                                            <div class="review-form">
                                                <div class="form-container">
                                                    <form role="form" class="cnt-form">

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="exampleInputName">Your Name <span class="astk">*</span></label>
                                                                    <input type="text" class="form-control txt" id="exampleInputName" placeholder="">
                                                                </div><!-- /.form-group -->
                                                                <div class="form-group">
                                                                    <label for="exampleInputSummary">Summary <span class="astk">*</span></label>
                                                                    <input type="text" class="form-control txt" id="exampleInputSummary" placeholder="">
                                                                </div><!-- /.form-group -->
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleInputReview">Review <span class="astk">*</span></label>
                                                                    <textarea class="form-control txt txt-review" id="exampleInputReview" rows="4" placeholder=""></textarea>
                                                                </div><!-- /.form-group -->
                                                            </div>
                                                        </div><!-- /.row -->

                                                        <div class="action text-right">
                                                            <button class="btn btn-primary btn-upper">SUBMIT REVIEW</button>
                                                        </div><!-- /.action -->

                                                    </form><!-- /.cnt-form -->
                                                </div><!-- /.form-container -->
                                            </div><!-- /.review-form -->

                                        </div><!-- /.product-add-review -->

                                    </div><!-- /.product-tab -->
                                </div><!-- /.tab-pane -->
                            </div><!-- /.tab-content -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.product-tabs -->
                <!-- ============================================== UPSELL PRODUCTS ============================================== -->
                <section class="section featured-product wow fadeInUp">
                    <h3 class="section-title">Sản phẩm liên quan</h3>
                    <div class="owl-carousel home-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs">
                        @{
                            var list = (
                                        from p in db.Products.OrderByDescending(x => x.CreateDate)
                                        select new WebBanHang.Models.ProductModel()
                                        {
                                            ID = p.ID,
                                            Name = p.Name,
                                            Code = p.Code,
                                            Image = ((from z in db.Images
                                                      where z.ProductID == p.ID
                                                      select new
                                                      {
                                                          z.Src
                                                      }).Take(1).FirstOrDefault().Src),
                                            MetaTitle = p.MetaTitle,
                                            Detail = p.Detail,
                                            Quantity = p.Quantity,
                                            Price = p.Price,
                                            CreateDate = p.CreateDate,
                                            Sale = ((from s in db.Sales
                                                     where s.ProductID == p.ID && s.EndDate >= DateTime.Now
                                                     orderby s.ID descending
                                                     select new
                                                     {
                                                         s.Discount
                                                     }).Take(1).FirstOrDefault().Discount)
                                        }).ToList();
                            var model = list.Take(7);
                        }
                        @foreach (var item in list)
                        {
                            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                            <div class="item item-carousel">
                                <div class="products">
                                    <div class="product">
                                        <div class="product-image">
                                            <div class="image"> <a href="@url"><img src=@item.Image alt=""></a> </div>
                                            <!-- /.image -->

                                            <div class="tag new"><span>new</span></div>
                                            @if (item.Sale.HasValue)
                                            {
                                                <div class="tag sale"><span>sale</span></div>
                                            }
                                        </div>
                                        <!-- /.product-image -->

                                        <div class="product-info text-left">
                                            <h3 class="name"><a href="@url">@item.Name</a></h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="description">@(item.Quantity.Value > 3 ? "Còn Hàng" : "Hết Hàng")</div>
                                            <div class="product-price">
                                                @if (item.Price.HasValue)
                                                {
                                                    if (item.Sale.HasValue)
                                                    {
                                                        <span class="price">@((item.Price - (item.Price * item.Sale / 100)).Value.ToString("N0") + "VND")</span>
                                                        <span class="price-before-discount">@(item.Price.Value.ToString("N0") + "VND")</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="price"> @(item.Price.Value.ToString("N0") + "VND") </span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="price">Liên Hệ</span>
                                                }
                                            </div>
                                            <!-- /.product-price -->

                                        </div>
                                        <!-- /.product-info -->
                                        <div class="cart clearfix animate-effect">
                                            <div class="action">
                                                <ul class="list-unstyled">
                                                    <li class="add-cart-button btn-group">
                                                        <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart" onclick="toro(@item.ID)"> <i class="fa fa-shopping-cart"></i> </button>
                                                        <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /.action -->
                                        </div>
                                        <!-- /.cart -->
                                    </div>
                                    <!-- /.product -->

                                </div><!-- /.products -->
                            </div><!-- /.item -->
                        }
                    </div><!-- /.home-owl-carousel -->
                </section><!-- /.section -->
                <!-- ============================================== UPSELL PRODUCTS : END ============================================== -->
            </div><!-- /.col -->
            <div class="clearfix"></div>
        </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /.body-content -->
